* {
  font-family: "Roboto", sans-serif;
}
body {
  margin: 0;
}
.container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}
nav {
  padding: 30px 0;
}
nav a {
  text-decoration: none;
  color: #2f3e9e;
  font-size: 20px;
}
nav .nav-left {
  padding-left: 50px;
}
nav .nav-right {
  float: right;
  padding-right: 40px;
}
footer {
  background-color: #5433ff;
  padding: 30px;
}
footer a {
  color: white;
  text-decoration: none;
}
footer .footer-left {
  padding-left: 50px;
}
footer .footer-right {
  float: right;
  padding-right: 40px;
}
footer .footer-mid {
  padding-left: 20px;
  padding-top: 30px;
}
footer .footer-mid a {
  padding-left: 30px;
}
footer p {
  padding-left: 50px;
  padding-top: 20px;
  color: white;
}
.top-content {
  padding-left: 100px;
  background: linear-gradient(to right, #6fb1fc, #4364f7, #0052d4);
}
.top-content h1 {
  font-size: 40px;
  font-weight: 400;
  color: white;
}
.top-content p {
  width: 500px;
  color: white;
}
.top-content .btn {
  padding: 5px 20px;
  color: #6668d0;
  font-size: 20px;
  border-radius: 10px;
}
.top-content .btn a {
  text-decoration: none;
  color: #6668d0;
}
.middle-cta {
  padding-top: 50px;
}
.middle-cta img {
  width: 50%;
  height: auto;
  padding-left: 270px;
  border-radius: 40%;
}
.middle-cta .text {
  width: 375px;
  padding-left: 200px;
}
.middle-cta .text h3 {
  font-weight: 300;
  font-size: 30px;
}
.middle-cta .text p {
  color: #546e7a;
}
.bottom .content-row {
  display: flex;
  flex-wrap: wrap;
  padding: 50px 0 50px 50px;
}
.bottom .content-row .bottom-text {
  padding-left: 50px;
}
.bottom .content-row img {
  max-width: 600px;
  height: 500px;
}
.bottom .content-row h3 {
  font-weight: 300;
  font-size: 30px;
}
.bottom .content-row p {
  width: 400px;
  color: #546e7a;
}
.bottom .content-row .btn {
  padding: 5px 20px;
  color: #6668d0;
  font-size: 20px;
  border-radius: 10px;
}
