/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.tab-button {
  width: 200px;
  max-width: 225px;
  height: 50px;
  max-height: 50px;
  font-size: 1.6rem;
  font-weight: 500;
  text-align: center;
  background-color: white;
  border-style: none;
  border-bottom: 3px solid #4364f7;
}
.icon-button {
  margin: 1rem auto;
  display: flex;
  flex-direction: row;
}
.icon-button-reverse {
  margin: 0 auto 1rem;
  display: flex;
  flex-direction: row-reverse;
}
.icon-button-reverse i {
  margin-left: 10px;
}
html {
  height: 100%;
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
  background-color: #f8f9fa;
}
body {
  margin: 0;
}
.container-index {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}
@media (max-width: 500px) {
  .container-index {
    width: 100%;
    margin: 0 auto;
  }
}
.container-signup {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}
@media (max-width: 500px) {
  .container-signup {
    width: 100%;
    height: 100%;
    margin: 0 auto;
  }
}
.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 35px;
}
h1 {
  font-size: 2.5rem;
  font-weight: 700;
  padding-bottom: 20px;
  color: rgba(0, 0, 0, 0.9);
}
h2 {
  font-size: 2rem;
  font-weight: 500;
  padding-bottom: 20px;
  color: #454545;
}
h3 {
  font-size: 1.8rem;
  font-weight: 500;
  padding-bottom: 20px;
  color: #454545;
}
p {
  font-size: 1.6rem;
  font-weight: 400;
  padding-bottom: 20px;
  color: #757575;
}
a {
  font-size: 1.6rem;
  font-weight: 400;
  padding-bottom: 20px;
  color: white;
}
.text {
  font-size: 1.6rem;
  font-weight: 500;
  color: #4364f7;
  height: 16px;
  margin: 5px 0 0 10px;
}
.material-icons {
  color: #4364f7;
}
.spacer {
  height: 30px;
}
header {
  width: 100%;
  display: flex;
  justify-content: center;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  align-self: flex-start;
}
.h1-header {
  font-size: 3.2rem;
  text-align: center;
}
.content-title {
  font-size: 2rem;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.85);
  margin: 30px 0 10px 0;
}
.content-text {
  font-size: 1.6rem;
  font-weight: 400;
  color: #757575;
  margin: 15px 0 0 0;
}
button {
  cursor: pointer;
}
.home-header {
  background-image: none;
  background: linear-gradient(to right, #6fb1fc, #4364f7, #0052d4);
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
}
.home-header nav {
  width: 90%;
  max-width: 1200px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.home-header nav .text {
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.home-header nav .text a {
  padding: 0 30px 0 0;
  color: white !important;
}
nav {
  padding: 25px 0;
}
nav a {
  text-decoration: none;
  color: white;
  font-size: 20px;
}
@media (max-width: 500px) {
  nav a {
    font-size: 12px;
    color: white;
  }
}
nav .nav-left {
  padding-left: 50px;
}
nav .nav-right {
  float: right;
  padding-right: 40px;
}
.sign-up {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
}
.sign-up .image-flow {
  width: 50%;
}
.sign-up .image-flow img {
  width: 100%;
  height: 100%;
  position: relative;
}
@media (max-width: 500px) {
  .sign-up .image-flow img {
    display: none;
  }
}
.sign-up .image-flow .image-text-container {
  position: absolute;
  width: 25%;
  margin: 0 auto;
}
@media (max-width: 500px) {
  .sign-up .image-flow .image-text-container {
    display: none;
  }
}
.sign-up .image-flow .image-text-container h1 {
  color: white;
}
.sign-up .image-flow .image-text-container p {
  color: white;
}
.sign-up .sign-up-container {
  width: 50%;
}
.sign-up .sign-up-container .signup-form {
  width: 55%;
  position: relative;
}
.sign-up .sign-up-container .signup-form h1 {
  text-align: center;
  font-weight: 300;
  padding-bottom: 60px;
}
.sign-up .sign-up-container .signup-form input {
  outline: 0;
  border-width: 0 0 1px;
  border-color: black;
  margin-bottom: 40px;
  width: 100%;
  height: 20px;
  background-color: white;
  font-size: 15px;
}
.sign-up .sign-up-container .signup-form input:hover {
  transform: scale(1.1);
}
.sign-up .sign-up-container .signup-form .btn {
  margin-top: 40px;
  width: 100%;
  padding: 15px 0;
  color: #6668d0;
  font-size: 1.6rem;
  border-radius: 100px;
  margin-bottom: 30px;
}
.sign-up .sign-up-container .signup-form .btn a {
  text-decoration: none;
  color: #6668d0;
}
.sign-up .sign-up-container .signup-form .btn:hover {
  background-color: #00186f;
}
.sign-up .sign-up-container .signup-form p {
  text-align: center;
}
.sign-up .sign-up-container .signup-form p a {
  color: #6668d0;
}
.sign-up .sign-up-container .signup-form p a:hover {
  color: #00186f;
}
.sign-up .sign-up-container .signup-form .icons .fab {
  padding-left: calc((100% - 72px) / 4);
  font-size: 2.4rem;
  color: gray;
}
.sign-up .sign-up-container .signup-form .icons .fab:hover {
  color: black;
}
.input-text::placeholder {
  color: #6668d0;
}
input {
  color: #6668d0;
}
html {
  background-color: white;
}
.about-guidr {
  background-color: #5B5C57;
  padding: 60px;
  margin: 0 auto;
  max-width: 850px;
}
.about-h1 {
  color: white;
  text-align: center;
  font-weight: 300;
  font-size: 50px;
  max-width: 800px;
  margin: 0 auto;
}
.about-p {
  color: white;
  margin: 0 auto;
  text-align: center;
  max-width: 800px;
}
.middle-content h2 {
  margin-top: 50px;
  text-align: center;
  font-size: 40px;
}
.cards-container {
  width: 100%;
  margin-top: 16px;
}
.cards-container .card {
  display: none;
  margin: 0 auto 16px;
  border-bottom: 1px solid lightgrey;
  background-color: #ffffff;
  width: 380px;
  padding: 24px;
  font-size: 12px;
  letter-spacing: 1px;
  font-weight: bold;
}
.cards-container .card .img-container {
  border-right: 1px solid lightgrey;
  height: 50%;
  overflow: hidden;
}
.cards-container .card .img-container .card-img {
  height: auto;
  object-fit: cover;
}
.cards-container .card p {
  padding-top: 24px;
  color: #757575;
}
.cards-container .card-selected {
  display: block;
}
.tab {
  margin: 1rem auto;
  display: flex;
  justify-content: center;
}
.tab .person {
  width: 200px;
  max-width: 225px;
  height: 50px;
  max-height: 50px;
  font-size: 1.6rem;
  font-weight: 500;
  text-align: center;
  background-color: white;
  border: none;
}
.tab .person-selected {
  border-bottom: 3px solid #4364f7;
}
footer {
  background-color: #5433ff;
  padding: 30px;
  z-index: 1;
}
footer a {
  color: white;
  text-decoration: none;
}
footer .footer-left {
  padding-left: 50px;
}
footer .footer-right {
  float: right;
  padding-right: 40px;
}
footer .footer-mid {
  padding-left: 20px;
  padding-top: 30px;
}
footer .footer-mid a {
  padding-left: 30px;
}
footer p {
  padding-left: 50px;
  padding-top: 20px;
  color: white;
}
.index-header {
  background: linear-gradient(to right, #6fb1fc, #4364f7, #0052d4);
}
.top-content {
  padding-left: 290px;
  padding-bottom: 50px;
  padding-top: 30px;
}
@media (max-width: 500px) {
  .top-content {
    padding-left: 100px;
  }
  .top-content hr {
    width: 500px;
  }
}
.top-content h1 {
  font-size: 40px;
  font-weight: 400;
  color: white;
}
@media (max-width: 500px) {
  .top-content h1 {
    font-size: 20px;
  }
}
.top-content p {
  width: 500px;
  color: white;
}
@media (max-width: 500px) {
  .top-content p {
    font-size: 15px;
    width: 340px;
  }
}
.top-content .btn {
  width: 30%;
  padding: 15px 0;
  color: #6668d0;
  font-size: 1.6rem;
  border-radius: 100px;
}
@media (max-width: 500px) {
  .top-content .btn {
    width: 5px 10px;
    padding: 15px 0;
    color: #6668d0;
    font-size: 1.6rem;
    border-radius: 100px;
  }
}
.top-content .btn a {
  text-decoration: none;
  color: #6668d0;
}
.top-content .btn:hover {
  background-color: #00186f;
}
.middle-cta {
  padding-top: 50px;
}
@media (max-width: 500px) {
  .middle-cta {
    vertical-align: middle;
  }
  .middle-cta hr {
    width: 500px;
  }
}
.middle-cta img {
  width: 50%;
  height: auto;
  padding-left: 270px;
  border-radius: 40%;
}
@media (max-width: 500px) {
  .middle-cta img {
    padding-left: 100px;
  }
}
.middle-cta .cta-text {
  width: 375px;
  padding-left: 200px;
}
.middle-cta .cta-text h3 {
  font-weight: 300;
  font-size: 30px;
}
.middle-cta .cta-text p {
  color: #546e7a;
}
@media (max-width: 500px) {
  .middle-cta .cta-text {
    padding-left: 100px;
  }
}
.bottom .content-row {
  display: flex;
  flex-wrap: wrap;
  padding: 50px 0 50px 50px;
}
.bottom .content-row .bottom-text {
  padding-left: 50px;
}
@media (max-width: 500px) {
  .bottom .content-row .bottom-text {
    padding-left: 30px;
  }
}
.bottom .content-row img {
  max-width: 600px;
  height: 500px;
}
@media (max-width: 500px) {
  .bottom .content-row img {
    max-width: 100%;
    height: auto;
  }
}
.bottom .content-row h3 {
  font-weight: 300;
  font-size: 30px;
}
.bottom .content-row p {
  width: 400px;
  color: #546e7a;
}
.bottom .content-row .btn {
  width: 30%;
  padding: 15px 0;
  color: #6668d0;
  font-size: 1.6rem;
  border-radius: 100px;
}
.bottom .content-row .btn:hover {
  background-color: #00186f;
}
.body-home {
  background-color: #f8f9fa;
}
.home-container {
  background-color: white;
  border-radius: 4px;
  max-width: 1200px;
  width: 100%;
  margin: 50px auto;
  padding: 50px 35px;
}
.home-container p {
  margin: 0 auto;
  text-align: left;
}
.user-intro {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  padding-bottom: 50px;
  border-bottom: 1px solid #dedede;
}
.edit-user {
  width: 40%;
  display: flex;
  justify-content: flex-end;
}
.intro {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  margin: 0 auto;
  width: 60%;
}
.intro .description {
  margin-top: 35px;
  display: flex;
  flex-direction: column;
}
.intro .description p {
  padding-bottom: 0px !important;
}
.intro .flex-content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.intro .flex-content .intro-img {
  margin-right: 50px;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
}
.intro .flex-content .intro-img img {
  max-height: 200px;
  height: auto;
  object-fit: cover;
}
.intro .flex-content .text-content {
  width: calc(100% - 250px);
  height: 105px;
}
.intro .flex-content .text-content .intro-info {
  padding-bottom: 0px !important;
  color: #757575;
}
.cta-arrow {
  margin: 0 auto 1rem;
  display: flex;
  flex-direction: row-reverse;
}
.cta-arrow i {
  margin-left: 10px;
}
.cta-add {
  margin: 0 auto 1rem;
  display: flex;
  flex-direction: row-reverse;
}
.cta-add i {
  margin-left: 10px;
}
.cta-edit {
  margin: 0 auto 1rem;
  display: flex;
  flex-direction: row-reverse;
}
.cta-edit i {
  margin-left: 10px;
}
.trips {
  display: flex;
  flex-direction: column;
  margin: 50px auto;
  width: 90%;
  padding-bottom: 0px;
  border-bottom: 1px solid #dedede;
}
.trips .tab {
  margin: 1rem auto;
}
.trips .tab .trip-category {
  width: 200px;
  max-width: 225px;
  height: 50px;
  max-height: 50px;
  font-size: 1.6rem;
  font-weight: 500;
  text-align: center;
  background-color: white;
  border-style: none;
}
.trips .tab .trip-category-selected {
  border-bottom: 3px solid #4364f7;
}
.trips .trips-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.resume {
  display: flex;
  flex-direction: column;
  margin: 0 auto 50px;
  width: 90%;
  padding-bottom: 50px;
  border-bottom: 1px solid #dedede;
}
.resume .cta-resume {
  margin: 1rem auto;
  display: flex;
  flex-direction: row;
}
.resume .resume-content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.resume .no-resumes {
  display: none;
  flex-direction: column;
}
.resume .no-resumes img {
  margin: 25px auto;
}
.resume .no-resumes h2 {
  margin: 0 auto;
  font-weight: 400;
  color: #757575;
}
.photo-album {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 90%;
}
.photo-album .cta-album {
  margin: 1rem auto;
  display: flex;
  flex-direction: row;
}
.photo-album .albums .album-content {
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
}
.photo-album .albums .album-content .album-image {
  height: auto;
  object-fit: cover;
  margin: 0 10px 10px 0;
}
.photo-album .no-albums {
  display: none;
  flex-direction: column;
}
.photo-album .no-albums img {
  margin: 25px auto;
}
.photo-album .no-albums h2 {
  margin: 0 auto;
  font-weight: 400;
  color: #757575;
}
a {
  margin: 0 auto;
  padding-bottom: 0px;
}
.resume-container {
  background-color: white;
  border-radius: 4px;
  max-width: 1200px;
  width: 100%;
  margin: 50px auto;
  padding: 50px 35px 25px;
}
.resume-container p {
  margin: 0 auto;
}
.i-resume {
  display: flex;
  flex-direction: column;
  margin: 0 auto 50px;
  width: 90%;
}
.i-resume .cta-resume {
  margin: 1rem auto;
  display: flex;
  flex-direction: row;
}
.i-resume .i-resume-content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.i-resume .no-resumes {
  display: none;
  flex-direction: column;
}
.i-resume .no-resumes img {
  margin: 25px auto;
}
.i-resume .no-resumes h2 {
  margin: 0 auto;
  font-weight: 400;
  color: #757575;
}
.i-resume-end .i-content-title {
  text-align: center;
}
.i-resume-end .i-content-text {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 20px;
}
.card {
  min-width: 275px;
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  padding-bottom: 1.6rem;
  margin: 50px 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.card .trip-image {
  border-radius: 4px 4px 0 0;
  max-width: 100%;
  width: auto;
  height: auto;
  object-fit: cover;
}
.card .card-title {
  display: flex;
  flex-direction: row;
  padding-top: 6px;
}
.card .card-title .user-image {
  margin: 1rem;
  height: 50%;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
}
.card .card-title .user-image img {
  max-height: 50px;
  height: auto;
  object-fit: cover;
}
.card .card-title .card-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.card .card-title .card-info .trip-title {
  margin-left: 1rem;
  font-weight: 500;
  padding-bottom: 0.5rem;
  padding-top: 1rem;
  color: rgba(0, 0, 0, 0.9);
}
.card .card-title .card-info .trip-location {
  padding-bottom: 1rem;
  margin-left: 1rem;
  padding-top: 0px;
}
.card .trip-description {
  padding: 1.6rem 1rem;
  padding-top: 0px;
  color: rgba(0, 0, 0, 0.45);
}
.card .card-link {
  font-size: 1.6rem;
  font-weight: 500;
  color: #4364f7;
  padding: 0 1rem;
  cursor: pointer;
}
.trip-container {
  background-color: white;
  border-radius: 4px;
  max-width: 1200px;
  width: 100%;
  margin: 50px auto;
  padding: 25px 35px;
}
.trip-container p {
  margin: 0 auto;
}
.trip-container .i-trips {
  display: flex;
  flex-direction: column;
  margin: 50px auto 0;
  width: 90%;
}
.trip-container .i-trips .i-tab {
  margin: 1rem auto;
}
.trip-container .i-trips .i-tab .trip-category {
  width: 200px;
  max-width: 225px;
  height: 50px;
  max-height: 50px;
  font-size: 1.6rem;
  font-weight: 500;
  text-align: center;
  background-color: white;
  border-style: none;
}
.trip-container .i-trips .i-tab .trip-category-selected {
  border-bottom: 3px solid #4364f7;
}
.trip-container .i-trips .i-trips-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.individual-trip-card {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  overflow: auto;
  background-color: #000000;
  background-color: rgba(0, 0, 0, 0.5);
}
.individual-trip-card .i-card {
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  padding-bottom: 2.4rem;
  margin: 5% auto;
  width: 50%;
  background-color: white;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.individual-trip-card .i-card .i-trip-image {
  border-radius: 4px 4px 0 0;
  max-width: 100%;
  width: auto;
  height: auto;
  object-fit: cover;
}
.individual-trip-card .i-card .i-text-container {
  width: 95%;
  margin: 0 auto;
}
.individual-trip-card .i-card .i-text-container .i-card-title {
  display: flex;
  flex-direction: row;
  padding-top: 6px;
}
.individual-trip-card .i-card .i-text-container .i-card-title .i-user-image {
  margin: 1rem;
  height: 50%;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  overflow: hidden;
}
.individual-trip-card .i-card .i-text-container .i-card-title .i-user-image img {
  max-height: 75px;
  height: auto;
  object-fit: cover;
}
.individual-trip-card .i-card .i-text-container .i-card-title .i-card-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.individual-trip-card .i-card .i-text-container .i-card-title .i-card-info .i-trip-title {
  margin-left: 1rem;
  font-weight: 500;
  padding-bottom: 0.5rem;
  padding-top: 1rem;
  color: rgba(0, 0, 0, 0.9);
  font-size: 2.4rem;
}
.individual-trip-card .i-card .i-text-container .i-card-title .i-card-info .i-trip-location {
  padding-bottom: 1rem;
  margin-left: 1rem;
  font-size: 2rem;
}
.individual-trip-card .i-card .i-text-container .i-trip-description {
  padding: 1.6rem 1rem 3.2rem;
  color: rgba(0, 0, 0, 0.45);
  font-size: 2rem;
}
.individual-trip-card .i-card .i-text-container .i-card-close {
  font-size: 1.8rem;
  font-weight: 500;
  color: #4364f7;
  padding: 0 1rem;
  cursor: pointer;
}
