html {
  background-color: white;
 }

 .about-container {
  background-color: white;
  border-radius: 4px;
  max-width: 1200px;
  width: 100%;
  margin: 50px auto;
  padding: 50px 0;
  p {
      margin: 0 auto;
      text-align: left;
  }
}
 
  .about-guidr {
    background-color: #5B5C57;
    padding: 60px;
    margin: 0 auto;
    max-width: 850px;
  
    @media @phone{
      max-width: 500px;
      height: auto;
    }
   }

 
 
 
  .about-h1 {
    color: white;
    text-align: center;
    font-weight: 300;
    font-size: 50px;
    max-width: 800px;
    margin: 0 auto;
  }
  
 
  .about-p {
    color: white;
    margin: 0 auto;
    text-align: center;
    max-width: 800px;
  }
 
 .middle-content {
  h2 {
    margin-top: 50px;
    text-align: center;
    font-size: 40px;
  }
}

.cards-container {
  width: 100%;
  margin-top: 16px;
  
  .card {
    display: none;
    margin: 0 auto 16px;
    border-bottom: 1px solid lightgrey;
    background-color: #ffffff;
    width: 380px;
    padding: 24px;
    font-size: 12px;
    letter-spacing: 1px;
    font-weight: bold;
 
    .img-container {
      border-right: 1px solid lightgrey;
      height: 50%;
      overflow: hidden;

      .card-img {
        height: auto;
        object-fit: cover;
      }
    }
    p {
      padding-top: 24px;
      color: #757575;
    }
  }
  .card-selected {
    display: block;
  }
}

.tab {
  margin: 1rem auto;
  display: flex;
  justify-content: center;

  .person {
    width: 200px;
    max-width: 225px;
    height: 50px;
    max-height: 50px;
    font-size: 1.6rem;
    font-weight: 500;
    text-align: center;
    background-color: white;
    border: none;
  }
  .person-selected {
    border-bottom: 3px solid #4364f7;

    &:hover{
      transform: scale(1.05);
    }
  }
}