html{
  background-color: white;
}

.about-guidr{
  background-color: #5B5C57;
  width: 830px;
  padding: 60px;
  margin-left: 130px;


  h1{
    color: white;
    text-align: center;
    font-weight: 300;
    font-size: 50px;
  }

  p{
    color: white;
    text-align: center;
  }
}

.middle-content{
  h2{
    margin-top: 50px;
    margin-left: 460px;
    font-size: 40px;
  }
}