html {
  font-size: 62.5%;
  font-family: 'Roboto', sans-serif;
  background-color: @html-background;
}

* {
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 35px;
}

h1 {
  font-size: 28px;
  font-weight: 700;
  padding-bottom: 20px;
}

h2 {
  font-size: 24px;
  font-weight: 500;
  padding-bottom: 20px;
  color: #484848
}

h3 {
  font-size: 20px;
  font-weight: 500;
  padding-bottom: 20px;
  color: #484848
}

p {
  font-size: 16px;
  font-weight: 400;
  padding-bottom: 20px;
  color: #757575
}