.home-container {
    margin-top: 140px;
    margin-bottom: 60px;
    background-color: white;
    border-radius: 5px;
}
.intro {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    width: 85%;
    .intro-img {
        justify-content: flex-end;
        width: 200px;
        height: 200px;
        border-radius: 50%;
        overflow: hidden;
        img {
            max-height: 200px;
            height: auto;
            object-fit: cover;
        }
    }
    .text-content {
        width: calc(100% - 250px);
    }
}
.trips {
    display: flex;
    margin: 0 auto;
    width: 85%;
}
.resume {
    display: flex;
    margin: 0 auto;
    width: 85%;
}
.photo-album {
    display: flex;
    margin: 0 auto;
    width: 85%;
}