.home-container {
    position: relative;
    top: 140px;
    bottom: auto;
    z-index: 1;
    background-color: white;
    border-radius: 5px;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 35px;
    p {
        margin: 0 auto;
    }
}
.intro {
    display: flex;
    flex-direction: row-reverse;
    margin: 0 auto;
    width: 85%;
    .description {
        width: 40%;
        margin-left: 50px;
        display: flex;
        flex-direction: column;
    }
    .flex-content {
        display: flex;
        flex-direction: row;
        width: 60%;
        .intro-img {
            margin-right: 50px;
            width: 200px;
            height: 200px;
            border-radius: 50%;
            overflow: hidden;
            img {
                max-height: 200px;
                height: auto;
                object-fit: cover;
            }
        }
        .text-content {
            width: calc(100% - 250px);
        }
    }
}
.intro-cta {
    display: flex;
    flex-direction: column;
    .cta-add {
        display: flex;
        flex-direction: row;
    }
    .cta-edit {
        display: flex;
        flex-direction: row;
    }
}
.trips {
    display: flex;
    margin: 0 auto;
    width: 85%;
}
.resume {
    display: flex;
    margin: 0 auto;
    width: 85%;
}
.photo-album {
    display: flex;
    margin: 0 auto;
    width: 85%;
}