.index-header {
  background: linear-gradient(to right, #6fb1fc, #4364f7, #0052d4);
}
.top-content {
  padding-left: 290px;
  padding-bottom: 50px;
  padding-top: 30px;

  @media @phone {
    padding-left: 100px;

    hr {
      width: 500px;
    }
  }

  h1 {
    font-size: 40px;
    font-weight: 400;
    color: white;

    @media @phone {
      font-size: 20px;
    }
  }

  p {
    width: 500px;
    color: white;

    @media @phone {
      font-size: 15px;
      width: 340px;
    }
  }

  .btn {
    .button(30%);

    @media @phone {
      .button(5px 10px);
    }

    a {
      text-decoration: none;
      color: @light-main;
    }

    &:hover {
      background-color: @dark-main;
    }
  }
}

.middle-cta {
  padding-top: 50px;

  @media @phone {
    vertical-align: middle;

    hr {
      width: 500px;
    }
  }

  img {
    width: 50%;
    height: auto;
    padding-left: 270px;
    border-radius: 40%;

    @media @phone {
      padding-left: 100px;
    }
  }

  .cta-text {
    width: 375px;
    padding-left: 200px;

    h3 {
      font-weight: 300;
      font-size: 30px;
    }

    p {
      color: #546e7a;
    }
    @media @phone {
      padding-left: 100px;
    }
  }
}

.bottom {
  .content-row {
    display: flex;
    flex-wrap: wrap;
    padding: 50px 0 50px 50px;

    .bottom-text {
      padding-left: 50px;

      @media @phone {
        padding-left: 30px;
      }
    }

    img {
      max-width: 600px;
      height: 500px;

      @media (max-width: 500px) {
        max-width: 100%;
        width: 80%;
        height: 300px;
        padding-bottom: 30px;
        padding-left: 30px;
      }
    }

    h3 {
      font-weight: 300;
      font-size: 30px;
    }

    p {
      width: 400px;
      color: #546e7a;
    }

    .btn {
      .button(30%);

      &:hover {
        background-color: @dark-main;
      }
    }
  }
}