.index-header {
  background: linear-gradient(to right, #6fb1fc, #4364f7, #0052d4);
}
.top-content {
  padding-left: 290px;
  padding-bottom: 50px;
  padding-top: 30px;

  h1 {
    font-size: 40px;
    font-weight: 400;
    color: white;
  }

  p {
    width: 500px;
    color: white;
  }

  .btn {
    .button(5px 20px);

    a {
      text-decoration: none;
      color: @light-main;
    }

    // &:hover {
    //   background-color: @dark-main;
    // }
  }
}

.middle-cta {
  padding-top: 50px;

  img {
    width: 50%;
    height: auto;
    padding-left: 270px;
    border-radius: 40%;
  }

  .text {
    width: 375px;
    padding-left: 200px;

    h3 {
      font-weight: 300;
      font-size: 30px;
    }

    p {
      color: #546e7a;
    }
  }
}

.bottom {
  .content-row {
    display: flex;
    flex-wrap: wrap;
    padding: 50px 0 50px 50px;

    .bottom-text {
      padding-left: 50px;
    }

    img {
      max-width: 600px;
      height: 500px;
    }

    h3 {
      font-weight: 300;
      font-size: 30px;
    }

    p {
      width: 400px;
      color: #546e7a;
    }

    .btn {
      .button(5px 20px);
    }
  }
}
