.button() {
  padding: 16px 32px 16px 32px;
  color: white;
  background-color: #4364f7;
  font-size: 1.6rem;
  border-radius: 100px;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0,0,0,.12);
  transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: box-shadow;
    transition-duration: 280ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0s;
}
.btn-alt(@padding, @margin, @bg-color) {
  padding: @padding;
  margin: @margin;
  background-color: #4364f7;
  color: white;
  font-size: 1.6rem;
  font-weight: 500;
  border-radius: 100px;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0,0,0,.12);
  transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: box-shadow;
    transition-duration: 280ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0s;
}
.tab-button {
  width: 200px;
  max-width: 225px;
  height: 50px;
  max-height: 50px;
  font-size: 1.6rem;
  font-weight: 500;
  text-align: center;
  background-color: white;
  border-style: none;
  border-bottom: 3px solid #4364f7;
}
.icon-button {
  margin: 1rem auto;
  display: flex;
  flex-direction: row;
}
.icon-button-reverse {
  margin: 0 auto 1rem;
  display: flex;
  flex-direction: row-reverse;
  i {
    margin-left: 10px;
  }
}
.border-bottom(@padding) {
  padding-bottom: @padding;
  border-bottom: 1px solid #dedede;
}