.home-header {
  background-image: none;
  background: linear-gradient(to right, #6fb1fc, #4364f7, #0052d4);
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14),
    0 1px 10px 0 rgba(0, 0, 0, 0.12);
  nav {
    width: 90%;
    max-width: 1200px;
    display: flex;
    flex-direction: row;
    .image {
      width: 40%;
    }
    .text {
      width: 60%;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      justify-content: space-between;
      flex-wrap: wrap;
      a {
        padding: 0;
        margin: 0;
        color: white !important;
        font-size: 1.8rem;
        &:hover{
          transform: scale(1.05);
        }
      }
    }
  }
}