.resume-container {
    background-color: white;
    border-radius: 4px;
    max-width: 1200px;
    width: 100%;
    margin: 50px auto;
    padding: 50px 35px 25px;
    p {
        margin: 0 auto;
    }
}
.i-resume {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
    .cta-resume {
        .icon-button;
    }
    .i-resume-content {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .no-resumes {
        display: none;
        flex-direction: column;
        img {
            margin: 25px auto;
        }
        h2 {
            margin: 0 auto;
            font-weight: 400;
            color: #757575;
        }
    }
}