.sign-up {
  display: flex;
  flex-wrap: wrap;

  img {
    // float: left;
    width: 50%;
    height: 50%;
  }

  .signup-form {
    padding-left: 30px;

    input {
      outline: 0;
      border-width: 0 0 2px;
      border-color: black;
      margin-bottom: 20px;
      margin-left: 50px;
    }

    .btn {
      .button(5px 20px);
    }
  }
}
