.sign-up {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;

  .image-flow {
    width: 50%;
    max-height: 100%;
    overflow: hidden;
    @media @tablet {
      display: none;
    }
    @media @phone {
      display: none;
    }
    img {
      max-width: auto;
      height: auto;
      object-fit: cover;
      @media @tablet {
        display: none;
      }
      @media @phone {
        display: none;
      }
    }
    .image-text-container {
      position: absolute;
      width: 25%;
      margin: 0 auto;
      @media @tablet {
        display: none;
      }
      @media @phone {
        display: none;
      }
      h1 {
        color: white;
        font-size: 4rem;
      }

      p {
        color: white;
      }
    }
  }
  .sign-up-container {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    @media @tablet {
      width: 90%;
      margin: 36px auto 0;
    }
    @media @phone {
      width: 90%;
      margin: 36px auto 0;
    }
    .signup-form {
      width: 55%;
      @media @tablet {
        width: 80%;
        max-width: 450px;
        margin: 0 auto;
      }
      @media @phone {
        width: 80%;
        margin: 0 auto;
      }
      h1 {
        text-align: center;
        font-weight: 300;
        padding-bottom: 60px;
      }
      input {
        outline: 0;
        border-width: 0 0 1px;
        border-color: black;
        margin-bottom: 40px;
        width: 100%;
        height: 20px;
        background-color: white;
        font-size: 15px;

        &:hover {
          transform: scale(1.1);
        }
      }
      .center-btn {
        display: flex;
        justify-content: center;
        .btn {
          .button;
          margin-bottom: 30px;
        }
      }
      p {
        text-align: center;
        a {
          color: @light-main;
          &:hover {
            color: @dark-main;
          }
        }
      }
      .icons {
        .fab {
          padding-left: calc((100% - 72px) / 4);
          font-size: 2.4rem;
          color: gray;
          &:hover {
            color: black;
          }
        }
      }
    }
  }
}
.input-text::placeholder {
  color: @light-main;
}

input{
  color: @light-main;
}