.trip-container {
    background-color: white;
    border-radius: 4px;
    max-width: 1200px;
    width: 100%;
    margin: 50px auto;
    padding: 25px 35px;
    p {
        margin: 0 auto;
    }
    .i-trips {
        display: flex;
        flex-direction: column;
        margin: 50px auto 0;
        width: 90%;
        .i-tab {
            margin: 1rem auto;
            button {
                .tab-button;
            }
        }
        .i-trips-content {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
        }
    }
}